In [1]:
import pandas as pd
import mysql.connector

In [ ]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Prathm@2002",
    database="your_db"
)

In [ ]:
query = "SELECT * FROM employees"
df = pd.read_sql(query, conn)

print(df)
print("\nHigh Salary Employees:")
print(df[df['salary'] > 50000])